#contact {
    position: relative;
}

.contact-header {
    background-color: #32CD32;
    padding: 10px;
}

.contact-header li {
    font-size: 15px;
}

.contact-header li i {
    margin-right: 10px;
}

.contact-form {
    position: absolute;
    width: 30%;
    top: 25%;
    left: 60%;
    background-color: #32CD32;
    box-shadow: 0px 0px 10px 1px #888888;
    z-index: 1000;
}

#contact label {
    font-size: 20px;
    color: #255625;
}

#contact input, #contact textarea {
    background-color: #0F9E5E;
    color: white;
    border: 0px;
    border-radius: 0px;
}

#contact input:focus, #contact textarea:focus {
    box-shadow: 0px 0px 2px 1px #255625;
}

#contact button {
    border-color: #255625;
    color: #255625;
    transition-property: background-color;
}

#contact button:hover, #contact li a:hover {
    background-color: #b2dba1;
    transition-duration: 0.5s;
}

#contact hr {
    background-color: white;
}

#contact h2 {
    text-align: center;
    color: #255625;
}

#contact .row {
    padding: 30px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    lightgray !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    lightgray !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    lightgray !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    lightgray !important;
}

#contact ul {
    margin-bottom: 20px;
}

#contact li a {
    border: 2px solid #255625;
    padding: 6px;
    transition-property: background-color;
}

#contact i {
    width: 15px;
    height: 15px;
    color: #255625;
}

.contact-footer {
    background-color: #32CD32;
    overflow: hidden;
}

.contact-footer ul {
    float: left;
    margin-left: 20px;
}

#copyright {
    float: right;
    margin-right: 20px;
    font-size: 13px;
}

#after-form-submit {
    font-size: 15px;
    color: #32CD32;
    background-color: white;
    border: 0px solid white;
    border-radius: 3px;
    visibility: hidden;
}

.contact-footer ul, #copyright {
    margin-top: 20px;
}

.check-mark {
    float: right;
    margin-top: 10px;
}

@media only screen and (max-width : 768px) {
    .contact-form {
        position: static;
        width: 100%;
        box-shadow: 0 0 0 0 #FFF;
        z-index: 0;
        overflow: hidden;
    }

    .contact-footer ul, #copyright {
        float: none;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
}
