#about .navbar {
  background: #32CD32;
  border-radius: 0px;
  padding: 15px;
}

#about .navbar-brand {
  font-size: 2.3em;
  font-family: 'Cuprum', sans-serif;
}

#about .navbar ul {
  float: right;
}

#about .navbar li {
  margin-right: 20px;
  font-size: 1.5em;
}

#about .navbar a {
  color: white;
}

#about .navbar a:hover {
  transition-property: color;
  transition-duration: 0.3s;

}

.active a, #about .navbar a:hover {
  background-color:  #32CD32;
  color: #0A290A;
}

#about .navbar a:focus {
  background: #32CD32;
}

@media only screen and (max-width : 768px) {
  #goup {
    display: none;
  }

  #about .navbar ul {
    width: 100%;
    text-align: center;
  }
}